.property-modal {
    background-color: white;
    position: fixed;
    top: 16%;
    left: 17%;
    z-index: 5000000;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 15px;
    display: block;
    width: 66%;
    .exit-modal {
     cursor: pointer;
     position: absolute;
     z-index: 5000001;
     font-size: 1.5rem;
     right: 1rem;
     top: 0.3rem;
     font-weight: bold;
    }
    .property-modal-content {
       margin: 0;
       padding: 0;
       display: flex;
       flex-direction: row;
       .property-modal-img {
          width: 50%;
          margin: 0;
          padding: 0;
          background-color: #dddddd;
          border: none;
          border-bottom-left-radius: 15px;
          border-top-left-radius: 15px;
          img {
             width: 100%;
             position: relative;
             top: 11vh;
	 }
      }
      .property-modal-details {
    	width: 50%;
    	padding: 3rem;
        button{
            width: 100%;
            margin-top: 2rem;
            font-size: 1.2rem;
            cursor: pointer;
        }
      }
    }
    @media only screen and (max-width: 1000px) {
        
        left: 22%;
        width: 55%;

        .property-modal-img{
            display: none;
        }
        .property-modal-details {
            width: 100% !important;
        }
    }
    @media only screen and (max-width: 700px){
        
        left: 0;
        width: 100%;
    }
}