.footer {
    background-color: #828e9b;
    padding-top: 40px;
    padding-bottom: 20px;

    .row{ 
      display: flex;
      gap: 40px;
      justify-content: space-around;
      margin-left: 60px;
      margin-bottom: 136px;
      margin-right: 100px;
    }

    h4 {
      font-weight: 600;
      margin-bottom: 20px;
      color: #343a40;
    }
    
    p {
      font-size: 14px;
      color: white;
      line-height: 1.5;
    }
    
    ul{
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    ul li {
      font-size: 14px;
      color: white;
      line-height: 1.5;
    }
    
    ul li a {
      color: white;
      text-decoration: none;
    }
    
    ul.list-inline {
      li {
        display: inline-block;
        margin-right: 10px;
        
        &:last-child {
          margin-right: 0;
        }
      }
    }
    
    .footer-bottom {
      padding: 15px 0;
      color: #fff;
      
      p {
        font-size: 14px;
        margin: 0;
        text-align: center;
      }
    }
  }
  