.contact-us-container {
    max-width: 800px;
    margin: 7rem auto;
    padding: 20px;
  
    h1 {
      font-size: 36px;
      margin-bottom: 10px;
    }
  
    .form-control {
      display: flex;
      flex-direction: column;
  
      label {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
  
      }
      
      input,
      textarea {
        margin-top: 5px;
        margin-bottom: 17px;
        padding: 10px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 5px;
      }

      textarea {
        min-height: 150px;
      }  
    }

    .contact-submit{
      text-align: center;
      margin-top: 2rem;
      button {
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
        width: 6rem;
        &:hover {
        background-color: #0062cc;
        }
      }
    }
  }
  