.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 5000;
    width: -moz-available;          
    width: -webkit-fill-available;  
    width: fill-available;
  }

  .navbar__services{
    position: absolute;
    right: 359px;
    top: 68px;
    background-color: white;
  }

  .navbar__dropdown {
    border: none;
    background-color: white;
    margin-left: 33%;
  }

  .navbar__dropdown .material-symbols-outlined{
      font-size: 3rem !important;
      font-weight: bold !important;
  }
  
  .navbar__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

  .navbar__logo:visited, .navbar__logo:active, .navbar__logo:hover{
    color:inherit !important;
    text-decoration: none !important;
  }
  
  .navbar__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .navbar__list__column {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    background-color: white;
    margin-top: 1.05rem;
    list-style-type: none;
    top: 68px;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    left: 0;
    text-align: center;
    padding-left: 0;
  }
  
  .navbar__item {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    a, span{
      display: inherit;
    }
  }

  .navbar__item__column {
    padding: 17px;
    border: 1px solid beige;
  }
  
  .navbar__link {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
  
    &:hover {
      color: #666666;
    }
  }

  @media only screen and (max-width: 700px) {
    
    .navbar__link{
        display: block;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
    }
    #servicesParent{
      padding-bottom: 0;
    }
}