.post-new-article{
    text-align: end;
    margin-right: 1rem;
    button{
    border: 1px solid beige;
    color: white;
    padding: 11px 11px;
    border-radius: 8px;
    background-color: #3f51b5;
        a{
    	    color: white;
	    }
	    a:hover, a:active{
	        text-decoration: none;
	    }
    }
}

.blog-card{
    display: flex;
    flex-direction: column;
    margin: auto auto 10rem;
    width: 70%;
    background-color: white;
}

.blog-card-page{
    display: flex;
    flex-direction: column;
    margin: 4.4rem 0 2rem !important;
    background-color: white;
}

.blog-card-image{
    height: 20rem;
    background-size: cover;
}

.blog-card__title{
    margin-top: 0;
    margin-bottom: 0;
}

.blog-card__description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0 9% 2rem 6%;
}

.blog-card__link{
    float: right;
    font-size: 0.9rem;
}

.blog-card-content{
    padding: 3%;
}

.blog-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span {
        font-style: italic;
        font-size: 0.8rem;
        color: grey;
        line-height: 2.5;
    }
}

.blog-card__date{
    margin-top: 0;
    font-style: italic;
    font-size: 0.8rem;
    color: grey;
    display: flex;
    flex-direction: column;
    span{
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 700px) {
    .blog-card{
        width: 90%;
    }
    .blog-card-header{
        flex-direction: column;
    }
}